[v-cloak]{
    display: none;
}

.pixel-art{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.player-hand-leave-active{
    position: absolute;
}

.player-hand-move{
transition: transform 0.5s ease;
}
