<!DOCTYPE html>
<html lang="pt-br"> 

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} On-line Bisca {%endblock%} </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Quicksand:wght@700&display=swap" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
   
  <script src="https://cdn.socket.io/4.8.3/socket.io.min.js" integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0" crossorigin="anonymous" defer></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
  <script src="{{url_for('static', filename='js/app.js')}}" defer></script>

  {%block head_extra%}{%endblock%}  
</head>
<body class="">

<header>
<!--Código do header-->
</header>

<main>
    {%block content%}
    {%endblock%}
</main>

</body>

</html>